<a href="https://colab.research.google.com/github/frizchar/Sentiment-Analysis-on-Web-Scraped-Yelp-Reviews/blob/main/Sentiment_Analysis_on_Web_Scraped_Yelp_Reviews.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Collect Yelp Reviews

In [1]:
import requests
from bs4 import BeautifulSoup
import re

In [2]:
r = requests.get('https://www.yelp.ie/biz/the-cake-caf%C3%A9-dublin-2')
soup = BeautifulSoup(r.text, 'html.parser')
regex = re.compile('.*comment.*')
results = soup.find_all('p', {'class':regex})
reviews = [result.text for result in results]

In [3]:
reviews

["Lovely little café off Camden Street. You walk through a book shop to get to a pretty courtyard which is very peaceful considering it's in the middle of Dublin City. Staff were lovely and service was quick too. We ordered the Green Goddess poached eggs and the potato farl. The green goddess was delicious - three thick slices of seedy toast, pea guacamole, 2 poached eggs, feta, spring onion, coriander and a drizzle of their house green goddess dressing. I highly recommend! Potato farl was served with sautéed onions, feta, fried egg, bacon and a drizzle of the green goddess dressing. We couldn't resist taking away a slice of the carrot cake and the chocolate fudge cake - divine!",
 'I ordered online for a cake and a tea towel to be delivered to my friend living in Dublin. I live in the U.S. and relied on Yelp ratings to choose the Cake Cafe. The cake looked beautiful (my friend sent a picture), she loved the tea towel, and she said the cake was delicious. Ray, from the Cake Cafe was very responsive and communicative. I highly recommend this establishment.',
 'Yummy cake bites (mini slices of sponge cake with cream & berries, Belgian chocolate cake, lemon bar, & carrot cake - thanks!) with earl grey tea and friendly staff!!!',
 'I went to The Cake Cafe during my first trip to Ireland this February. I was looking for a place for Afternoon Tea, and this place came up on a few websites I found when doing research. I opted for The Cake Cafe because it was much less pricey than other places. I ordered the Cake Bites with the Chillax Tea. My partner got the Detox Tea. The teas were delicious, and the cake bites were nice. I expected smaller cakes, but got a full slice of cake, a brownie, and a cookie. The cake was my favorite. The brownie was vegan, but full of flavor. The cookie was ehh... I did like the cute location of the cafe. It was hidden and away from main traffic. The staff was great, and the music was on point.',
 'You had me at cake. We came here to share a double layered chocolate cake slice and coffee while walking around before the U2 show. Great customer service and good prices. There is seating inside, however, we had it to go so that we could go to Croke Park and have a cake picnic in the sunshine.',
 'Quirky cakey goodnessA lovely selection of teas and decadent cakes with some waist protecting options avalable. They also serve wonderful sandwiches and other options. \xa0A hidden gem that is jatd to find but the fact that this place is busy says allot',
 'Amazing meal at Cake Café. Very nice people, beautiful setting and cheap. Best meal in Dublin. Irish Meat, Fish & Cheese BoardKilleen Goats CheeseBuffalo Feta Cheese Gubbeen ChorizoBaked HamSmoked ChickenSardinesOpen SandwichHandmade Irish ChorizoCake Café Tomato Apple ChutneyMelted Smoked Gubbeen CheeseSaladParsleyCucumberBeetroot TzatzikiBulger WheatGoat CheeseNettle TeaElderberriesDandelionHawthorn-Buzz(Helps to regenerate body and Mind)',
 "What can be said that hasn't already been said?This is just fabulous. I love places that are tardis-like in their presence. Completely innocuous on the outside, and an absolute haven inside. I love the bamboos growing, and being surrounded by all sides from the outside world, except for the view of the sky above.Their cakes are to die for. The food is so good, honestly you need to just try it. Homemade and decadent. Maybe stay away if you're on a diet. (Damn you diet!!)In particular, if you're looking for somewhere to chill, or to bring someone somewhere special and unexpected, but also cheap and cheerful; look no further!",
 "We visited The Cake Café while we were visiting Dublin. It's hidden in a beautiful neighborhood with a small terrace. We had, curry soup, the chicken sandwich and sponge cake and everything was delicious. Very friendly service.",
 'Super awesome place to order cakes made and designed to order! Also a great spot for coffee and lunch in the Camden St/Portobello area. Gets a little crowded at lunch and weekends for brunch but usually the turnover is fast. Also has outside seating!']

# Analyse The Data

In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.DataFrame(np.array(reviews), columns=['review'])
df.tail()

                                              review
5  Quirky cakey goodnessA lovely selection of tea...
6  Amazing meal at Cake Café. Very nice people, b...
7  What can be said that hasn't already been said...
8  We visited The Cake Café while we were visitin...
9  Super awesome place to order cakes made and de...

In [6]:
df['word_count'] = df['review'].apply(lambda x: len(x.split()))
df['word_count'].tail()

5     42
6     49
7    109
8     37
9     44
Name: word_count, dtype: int64

In [7]:
df['char_count'] = df['review'].apply(lambda x: len(x))
df['char_count'].tail()

5    250
6    444
7    630
8    227
9    250
Name: char_count, dtype: int64

In [8]:
df

                                              review  word_count  char_count
0  Lovely little café off Camden Street. You walk...         119         685
1  I ordered online for a cake and a tea towel to...          70         379
2  Yummy cake bites (mini slices of sponge cake w...          29         167
3  I went to The Cake Cafe during my first trip t...         137         699
4  You had me at cake. We came here to share a do...          57         295
5  Quirky cakey goodnessA lovely selection of tea...          42         250
6  Amazing meal at Cake Café. Very nice people, b...          49         444
7  What can be said that hasn't already been said...         109         630
8  We visited The Cake Café while we were visitin...          37         227
9  Super awesome place to order cakes made and de...          44         250

In [9]:
#drop reviews with 0 words
df = df.drop(df.index[df['word_count'] == 0.0])
df

                                              review  word_count  char_count
0  Lovely little café off Camden Street. You walk...         119         685
1  I ordered online for a cake and a tea towel to...          70         379
2  Yummy cake bites (mini slices of sponge cake w...          29         167
3  I went to The Cake Cafe during my first trip t...         137         699
4  You had me at cake. We came here to share a do...          57         295
5  Quirky cakey goodnessA lovely selection of tea...          42         250
6  Amazing meal at Cake Café. Very nice people, b...          49         444
7  What can be said that hasn't already been said...         109         630
8  We visited The Cake Café while we were visitin...          37         227
9  Super awesome place to order cakes made and de...          44         250

In [10]:
def average_words(x):
    words = x.split()
    return sum(len(word) for word in words) / len(words)

In [11]:
df['average_word_length'] = df['review'].apply(lambda x: average_words(x))

In [12]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [13]:
stop_words = stopwords.words('greek')
stop_words[:5]

['αλλα', 'αν', 'αντι', 'απο', 'αυτα']

In [14]:
df['stopword_count'] = df['review'].apply(lambda x: len([word for word in x.split() if word.lower() in stop_words]))
df['stopword_rate'] = df['stopword_count'] / df['word_count']
df.head()

                                              review  ...  stopword_rate
0  Lovely little café off Camden Street. You walk...  ...            0.0
1  I ordered online for a cake and a tea towel to...  ...            0.0
2  Yummy cake bites (mini slices of sponge cake w...  ...            0.0
3  I went to The Cake Cafe during my first trip t...  ...            0.0
4  You had me at cake. We came here to share a do...  ...            0.0

[5 rows x 6 columns]

In [15]:
df.describe()

       word_count  char_count  ...  stopword_count  stopword_rate
count   10.000000   10.000000  ...            10.0           10.0
mean    69.300000  402.600000  ...             0.0            0.0
std     38.363901  201.681377  ...             0.0            0.0
min     29.000000  167.000000  ...             0.0            0.0
25%     42.500000  250.000000  ...             0.0            0.0
50%     53.000000  337.000000  ...             0.0            0.0
75%     99.250000  583.500000  ...             0.0            0.0
max    137.000000  699.000000  ...             0.0            0.0

[8 rows x 5 columns]

# Data Cleansing

In [16]:
#generate the lowercase reviews
df['lowercase'] = df['review'].apply(lambda x: " ".join(word.lower() for word in x.split()))
#remove everything that is not a word or a space
df['punctuation'] = df['lowercase'].str.replace('[^\w\s]', '')
#remove stopwords from the punctuated reviews
df['cleaned_review'] = df['punctuation'].apply(lambda x: " ".join(word for word in x.split() if word not in stop_words))
#calculate rate of clean words per review
df['cleaned_review_word_count'] = df['cleaned_review'].apply(lambda x: len(x.split()))
df['clean_rate'] = df['cleaned_review_word_count'] / df['word_count']

In [17]:
#inspect dataframe
df.head()

                                              review  ...  clean_rate
0  Lovely little café off Camden Street. You walk...  ...    0.983193
1  I ordered online for a cake and a tea towel to...  ...    1.000000
2  Yummy cake bites (mini slices of sponge cake w...  ...    0.896552
3  I went to The Cake Cafe during my first trip t...  ...    1.000000
4  You had me at cake. We came here to share a do...  ...    1.000000

[5 rows x 11 columns]

#Lemmatization

In [18]:
#Import textblob
from textblob import Word
nltk.download('wordnet')
from nltk import wordnet

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

In [19]:
df['lemmatized'] = df['cleaned_review'].apply(lambda x: " ".join(Word(word).lemmatize() for word in x.split()))
df.head()

                                              review  ...                                         lemmatized
0  Lovely little café off Camden Street. You walk...  ...  lovely little café off camden street you walk ...
1  I ordered online for a cake and a tea towel to...  ...  i ordered online for a cake and a tea towel to...
2  Yummy cake bites (mini slices of sponge cake w...  ...  yummy cake bite mini slice of sponge cake with...
3  I went to The Cake Cafe during my first trip t...  ...  i went to the cake cafe during my first trip t...
4  You had me at cake. We came here to share a do...  ...  you had me at cake we came here to share a dou...

[5 rows x 12 columns]

#Sentiment Analysis

In [20]:
from textblob import TextBlob

In [21]:
df['polarity'] = df['lemmatized'].apply(lambda x: TextBlob(x).sentiment[0] )
df['subjectivity'] = df['lemmatized'].apply(lambda x: TextBlob(x).sentiment[1] )

In [22]:
df.head()

                                              review  ...  subjectivity
0  Lovely little café off Camden Street. You walk...  ...      0.526071
1  I ordered online for a cake and a tea towel to...  ...      0.690000
2  Yummy cake bites (mini slices of sponge cake w...  ...      0.266667
3  I went to The Cake Cafe during my first trip t...  ...      0.561667
4  You had me at cake. We came here to share a do...  ...      0.450000

[5 rows x 14 columns]